extends layout

block content
    h3= title
    hr
    p.welcome Welcome to #[em Game store inventory]

    p The Game Store inventory contains the following:
    ul
      li #[strong Categories:] !{categories_count}
      li #[strong Items:] !{items_count}
